In [20]:
import pandas as pd
import numpy as np
from src.dataset import load_n_items

In [97]:
tgt_markets = ["t1", "t2"]
src_markets = ["s1", "s2", "s3"]

In [91]:
tgt_market = "t1"
id_bank = load_n_items(f'DATA/{tgt_market}/train_5core.tsv', 'DATA/t1/valid_run.tsv')
tgt_items = id_bank.item_id_index.keys()

In [96]:
src_market = "s1"
train_src = pd.read_csv(f"DATA/{src_market}/train_5core.tsv", sep="\t")
train_src

           userId    itemId  rating
0      s1U1109116  P1011533     1.0
1      s1U1108937  P1005973     1.0
2      s1U1082675  P1006604     1.0
3      s1U1039596  P1029038     1.0
4      s1U1118314  P1012181     1.0
...           ...       ...     ...
53983  s1U1025866  P1035127     1.0
53984  s1U1095394  P1034821     1.0
53985  s1U1020693  P1034775     1.0
53986  s1U1141504  P1034722     1.0
53987  s1U1033729  P1034665     1.0

[53988 rows x 3 columns]

In [93]:
include_user = set(train_src[train_src["itemId"].isin(tgt_items)]["userId"])
train_src_tgt = train_src[train_src["userId"].isin(include_user)]
exclude_item = (train_src_tgt["itemId"].value_counts() <= 2).reset_index()
exclude_item = set(exclude_item[exclude_item["itemId"]]["index"].values) - tgt_items

In [94]:
train_src_tgt = train_src_tgt[~train_src_tgt["itemId"].isin(exclude_item)]
train_src_tgt

           userId    itemId  rating
0      s1U1109116  P1011533     1.0
1      s1U1108937  P1005973     1.0
4      s1U1082675  P1006604     1.0
5      s1U1039596  P1029038     1.0
6      s1U1118314  P1012181     1.0
...           ...       ...     ...
77150  s1U1025866  P1035127     1.0
77152  s1U1095394  P1034821     1.0
77157  s1U1020693  P1034775     1.0
77165  s1U1141504  P1034722     1.0
77170  s1U1033729  P1034665     1.0

[53988 rows x 3 columns]

In [95]:
train_src_tgt.to_csv(f"DATA/{src_market}/train_5core_{tgt_market}.tsv", sep="\t", index=False)

In [99]:
for tgt_market in tgt_markets:
    for src_market in src_markets:
        id_bank = load_n_items(f'DATA/{tgt_market}/train_5core.tsv', 'DATA/t1/valid_run.tsv')
        tgt_items = id_bank.item_id_index.keys()
        train_src = pd.read_csv(f"DATA/{src_market}/train_5core.tsv", sep="\t")

        include_user = set(train_src[train_src["itemId"].isin(tgt_items)]["userId"])
        train_src_tgt = train_src[train_src["userId"].isin(include_user)]
        exclude_item = (train_src_tgt["itemId"].value_counts() <= 3).reset_index()
        exclude_item = set(exclude_item[exclude_item["itemId"]]["index"].values) - tgt_items

        train_src_tgt = train_src_tgt[~train_src_tgt["itemId"].isin(exclude_item)]
        train_src_tgt.to_csv(f"DATA/{src_market}/train_5core_{tgt_market}.tsv", sep="\t", index=False)